body {
  font-family: 'Comfortaa', cursive;
  background-repeat: no-repeat;
  background-image: url('../images/bike.jpg');

}
.main-heading{
  text-align: center;
}

.sub-heading{
  text-align: center;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
}


label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#bike-list {
  display: block;
}

.bike-list-item {
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #darkgrey;
  border-radius: 5%;
}

#category{
  font-family: 'Comfortaa', cursive;
  font-size: 1em;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid #darkgrey;
  border-radius: 5%;
}

.button{
  height:50px;
  width:100px;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
  padding 20px;
  border-radius: 10px;
  z-index:-1;
}

#new-bike-form{
  text-align: center;
}

table{

}
th, td{
  width:200px;
  background-color: white;
  border: 1px solid black;

}

#purchase{
  margin-top:50px;
  width:50%;
  display:inline-block;
}

#messageHolder{
  display:inline-block;
  float:right;
  margin-left: 50px;
  width:40%;
  background-color: tomato;
  color: white;
  font-size:1rem;
  z-index: 2;
}
